@model DataDeliveryAdmin.Models.IdGradeViewModel
}


<h1>Add Grade</h1>
<form asp-action="AddGrade" class="mt-5">
    <div asp-asp-validation-summary="ModeOnly" class="text-danger"></div>
    <div class="mb-3">
        <label class="form-label">Grade:</label>
        <input type="number" required asp-for="Grade" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Percentage:</label>
        <input type="number" required asp-for="Percentage" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Date:</label>
        <input type="date" required asp-for="Date" class="form-control">
    </div>
    <input type="hidden" asp-for="CourseId" />
    <input type="hidden" asp-for="StudentId" />
    <input type="hidden" asp-for="TeacherId" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
