@model DataDeliveryAdmin.Models.SingleGradeViewModel
@{
}


<h1>Edit Grade</h1>
<form  asp-action="Edit" class="mt-5">
    <div asp-asp-validation-summary="ModeOnly" class="text-danger"></div>
    <div class="mb-3">
        <label   class="form-label">Grade:</label>
        <input type="number"  required asp-for="Data.Attributes.Grade" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Percentage:</label>
        <input type="number" required asp-for="Data.Attributes.Percantage"  class="form-control" >
    </div>
    <div class="mb-3">
        <label class="form-label">Date:</label>
        <input type="date" required asp-for="Data.Attributes.Date"  class="form-control">
    </div>
    <input type="hidden" asp-for="Data.Id" />
    <input type="hidden" asp-for="Data.Attributes.Final" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
