<style>
    .div-link {
        text-decoration: none;
    }

    body {
        background-color: #0b6c43;
        color: white;
        font-family: Arial, sans-serif;
    }

    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #div1, #div2 {
        background-color: #06d48f;
        color: white;
        padding: 20px;
        margin: 10px;
        cursor: pointer;
        width: 400px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }

        #div1:hover, #div2:hover {
            background-color: #00ffcc;
        }
</style>

<div id="container">
    <a href="/Grade/Index" class="div-link">
        <div id="div1">
            <h2>Jegyek</h2>
        </div>
    </a>

    <a href="/CourseGrade/Index" class="div-link">
        <div id="div2">
            <h2>Tanolyamok és Diákok</h2>
        </div>
    </a>
</div>